@import "./variables.scss";
@import "./mixins.scss";


.papers-container {
  max-width: $container-width;
}

h3.track-name {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.paper-listing {
  margin-top: 0.5rem;
}

.single-paper-listing {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  padding: 0.25rem;

  & .paper-authors {
    display: block;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  & .paper-title {
    display: block;
    font-style: italic;
  }

  min-width: 250px;
  width: 25%;
}

.track-paper-listing {
  width: 100%;
}

.papers-in-track {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}